.navbar 
{
    background: #00bbff9c !important;
}

.bg-dark 
{
    background: #00bbff9c !important;
}

#map{
    height: 512px;
}

@media (min-widtH: 768px) {
    .card-img-top{
        height: 32vh;
    }
 
    #map{
        height: 100½;
    }
}